"use strict";
Object.defineProperty(exports, "__esModule", { value: true });
const codeOutline_1 = require("./outline/codeOutline");
function activate(context) {
    let codeOutline = new codeOutline_1.CodeOutline(context);
}
exports.activate = activate;
function deactivate() {
}
exports.deactivate = deactivate;
//# sourceMappingURL=extension.js.map